* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    margin-top: 20px;
    padding: 2px 140px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.secao {
    width: 80%;
    margin: 20px;
}

.secao1 {
    flex: 2;
    padding: 20px;
    background-color: rgba(199, 190, 190, 0.589);
}

.secao2 {
    flex: 1;
    padding: 20px;
}

.table1,
.table2 {
    width: 100%;
}

.table1 td {
    text-align: justify;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(107, 102, 102, 0.5);
}

th,
td {
    text-align: justify;
    padding: 8px;
    margin: 8px;
}


button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 16px;
    background-color: rgba(43, 216, 71, 0.842);
    border: none;
    cursor: pointer;
}

.medias {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 30px 2px;
}

.medias span {
    margin-right: 80px;
}