/* Estilização dos botões do Quiz*/

.btns {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 5px;
}

.reiniciar {
        width: 150px;
        height: 70px;
        padding: 12px;
        margin-top: 16px;
        font-size: 1.75rem;
        color: rgb(37, 36, 36); 
        font-weight: bold;
        margin-bottom: 16px;
        background-color: whitesmoke;
        border-style: double;
        border-radius: 12%;
        border-width: 4px;
        border-color: whitesmoke;
        cursor: pointer;
        bottom: 20px;
        right: 20px;
}

#finalizarHTML {
        width: 150px;
        height: 70px;
        padding: 12px;
        margin-top: 16px;
        font-size: 1.75rem;
        color: rgb(37, 36, 36); 
        font-weight: bold;
        margin-bottom: 16px;
        background-color: whitesmoke;
        cursor: pointer;
        bottom: 20px;
        right: 20px;
}

#finalizarCSS {
    width: 150px;
    height: 70px;
    padding: 12px;
    margin-top: 16px;
    font-size: 1.75rem;
    color: rgb(37, 36, 36); 
    font-weight: bold;
    margin-bottom: 16px;
    background-color: whitesmoke;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
}

#finalizarJS {
        width: 150px;
        height: 70px;
        padding: 12px;
        margin-top: 16px;
        font-size: 1.75rem;
        color: rgb(37, 36, 36); 
        font-weight: bold;
        margin-bottom: 16px;
        background-color: whitesmoke;
        cursor: pointer;
        bottom: 20px;
        right: 20px;
}

#resultadoHTML{
    width: 170px;
    height: 70px;
    padding: 12px;
    margin-top: 16px;
    font-size: 1.75rem;
    color: rgb(37, 36, 36); 
    font-weight: bold;
    margin-bottom: 16px;
    background-color: whitesmoke;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
}

#resultadoCSS{
    width: 170px;
    height: 70px;
    padding: 12px;
    margin-top: 16px;
    font-size: 1.75rem;
    color: rgb(37, 36, 36); 
    font-weight: bold;
    margin-bottom: 16px;
    background-color: whitesmoke;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
}

#resultadoJS {
    width: 170px;
    height: 70px;
    padding: 12px;
    margin-top: 16px;
    font-size: 1.75rem;
    color: rgb(37, 36, 36); 
    font-weight: bold;
    margin-bottom: 16px;
    background-color: whitesmoke;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
}

.borda-btns {
    --bg-color: #84A98C; /*Cor de fundo do fieldset login*/
    --main-color: #080B0C; /*Cor da borda do fieldset login*/
    background: var(--bg-color);
    border-radius: 5px;
    border: 2px solid var(--main-color); /*Largura da borda*/
    box-shadow: 4px 4px var(--main-color);
}

.campo-btns {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-weight: 600;
    padding: 5px 10px;
    outline: none;
}

.campo-btns::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.campo-btns:focus {
    border: 2px solid var(--campo-focus);
}

.reiniciar {
    margin-top: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 1.75rem;
}

.reiniciar:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.campo-btns {
    background-color: #e4e4e4;
    width: 200px;
    height: 65px;
    border-style:solid;
    border-width: 0.25px;
    border-color: #080B0C;
    border-radius: 5px;
}