body.dark {
    background: #2f3e46;
    color: #eaede8;
}

.dark .borda {
    padding: 20px;
    margin: 30px;
    width: 500px;
    --bg-color: #52796F; /*Cor de fundo do fieldset login*/
    --main-color: #EAEDE8; /*Cor da borda do fieldset login*/
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color); /*Largura da borda*/
    box-shadow: 2px 4px var(--main-color);
}

.dark .campo {
    background-color: #2f3e46;
    width: 200px;
    height: 35px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #080b0c;
    border-radius: 5px;
    color: #eaede8;
}

.config {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.checkbox {
    visibility: hidden;
    position: absolute;
}

.label {
    background-color: #84a98c;
    border-radius: 50px;
    border-width: 2px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
}

.label .ball {
    background-color: #eaede8;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.1s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.config i {
    color: #080b0c;
}

.dark .pergunta-card {
    background-color: #080B0C; 
    border: solid #52796F 2px;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
}

  .dark .card-resposta-correta {
    background-color: #52796F;
    border: solid #84A98C 2px;
    margin: 5px;
    padding: 3px;
    border-radius: 15px;
  }
  
  .dark .card-resposta-errada {
    background-color: #B46A6A; 
    border: solid #DDBBBB 2px;

    margin: 5px;
    padding: 5px;
    border-radius: 15px;
}

.dark .cronometro {
    background-color: #eaede8;
    color: black;
    width: 131px;
    position: fixed;
    top: 1%;
    left: 1%;
    border: solid #84a98c 2px;
    padding: 3px;
    border-radius: 30px;
    margin: 15px;
  }

.dark h1 {
    font-size: 40px;
    margin: 5px;
    color: #EAEDE8;
  }

.dark .content {
    display: block;
    position: sticky;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #EAEDE8;
  }

