.allQuiz{
    width: 1000px;
    margin: 0;
}

.allQuiz form{
    display: flex;
    align-items: center;
}

.allQuiz h2 {
    display: flex;
    justify-content: center;
}

#containerPerguntasHTML, #containerPerguntasCSS, #containerPerguntasJavaScript h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.allQuiz .pergunta-card{
    min-width: 100%;
    margin-top: 10px;
}

.pergunta-card h3{
    margin: 10px;
}

.pergunta-card {
    background-color: #EAEDE8; 
    border: solid #84A98C 2px;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
  }

  .card-resposta-correta {
    background-color: #84A98C;
    border: solid #2F3E46 2px;
    margin: 5px;
    padding: 3px;
    border-radius: 15px;
  }
  
  .card-resposta-errada {
    background-color: #DDBBBB; 
    border: solid #a53e3e 2px;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
  }