@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caprasimo&family=Chela+One&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Mynerve&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Satisfy&display=swap");

:root {
    --result-table: #84a98c;
    --media-hover: #52796f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.tabResult {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tabelaResultados {
    display: block;
    background: var(--result-table);
    text-align: center;
    padding: 10px 50px;
    margin: 0px;
    width: 100%;
}

#tabelaResultados td {
    width: 60px;
    padding: 10px 40px;   

}

#rank {
    margin-left: 130px;
    margin-top: 30px;
    text-align: justify;
}

#rank td {
    padding: 12px;
    width: 300px;
}

th {
    font-weight: bold;
    font-size: 1.75rem;
    text-align: center;
}

.medias {
    display: flex;
    margin-left: 130px;
    padding: 30px 2px;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: bold;
}

.medias span {
    margin-right: 100px;
}

.red {
    color: #d46464;
}

.green {
    color: var(--media-hover);
}

#reiniciarFinal {
    width: 250px;
    height: 70px;
    padding: 12px;
    margin-left: 500px;
    margin-top: 70px;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 16px;
    background: var(--result-table);
    border-style: none;
    cursor: pointer;
}

#reiniciarFinal:hover {
    color: #eaede8;
    background: var(--media-hover);
}

.config {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

#resultado[hidden] {
    display: none !important;
}

@media screen and (max-width: 767px) {  

    #tabelaResultados {
        display: block;     
        background: var(--result-table);        
        margin: 10px;
        width: 100%;
    }
  

    #tabelaResultados td {
        width: 100%;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
    }

    #tabelaResultados th{
        font-size: 22px;
    }

    #rank {
        margin-left: 0px;
        margin-top: 30px;
        text-align: justify;
    }

    #rank td {
        padding: 12px;
        width: 200px;
        font-size: 16px;
    }

    #reiniciarFinal {
        width: 250px;
        height: 70px;
        padding: 12px;
        margin-left: 30px;
        font-size: 1.75rem;
        font-weight: bold;
        margin-bottom: 16px;
        background: var(--result-table);
        border-style: none;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    #rank th {
        text-align: center;
    }

    #rank td {
        padding: 10px;
        margin: 3px;
        text-align: center;
    }

    #tabelaResultados {
        display: block;
        background: var(--result-table);
        text-align: justify;
        padding: 10px 50px;
        margin: 0px;
        width: 100%;
    }

    #tabelaResultados td {
        width: 50px;
        padding: 10px 35px; 
    }
}
